section:after,
.cols-2:after,
.cols-3:after,
.talk:after,
.organizers:after,
.clear:after { 
  display: block; content: "."; 
  clear: both; 
  font-size: 0; line-height: 0; height: 0; overflow: hidden; 
}