<section class="cols-2 info">
  <div class="col-1 organizers">
    <h4>organizers</h4>
    <h5><a href="https://twitter.com/priceted" target="_blank"><strong>Edward Price</strong></a></h5>
    <h5><a href="https://twitter.com/sosedoff" target="_blank">Dan Sosedoff</a></h5>
    <h5><a href="{{ site.meetup_url }}" target="_blank">Meetup</a></h5>
  </div>
  <div class="col-1 sponsors">
    <h4>Our Sponsors</h4>
    <a class="sponsor" href="https://devmynd.com/">
      <h3>DevMynd Studios</h3>
      <h5>Web &amp; Mobile Design, Development, Training</h5>
    </a>
  </div>
</section>