<section class="upcoming">
  <h4>Upcoming Event</h4>
  {% for post in site.categories.upcoming reversed %}
    <div class="cols-2">
      <div class="col-1">
        <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
        <h5 class="presenter">by <a {% if post.author_link %} href="{{ post.author_link }}" target="_blank" {% else %} href="#" {% endif %}>{{ post.author }}</a></h5>
        {{ post.content }}
        <a class="rsvp" href="{{ site.meetup_url }}/events/{{ post.meetup_id }}" target="_blank">RSVP</a>
      </div>
      <div class="col-1 details">
        <div class="date">
          <i class="fa fa-calendar"></i>
          <h3>{{ post.event.date }} <span class="time">{{ post.event.time }}</span></h3>
        </div>
        <div class="location">
          <i class="fa fa-map-marker"></i>
          <h3>{{ post.venue.name }}</h3>
          <h5>
            {{ post.venue.address }}<br/>
            {% if post.venue.instructions %}{{ post.venue.instructions }}<br/>{% endif %}
            <a class="map" href="{{ post.venue.directions_link }}" target="_blank">Directions</a>
          </h5>
        </div>
      </div>
    </div>
  {% endfor %}
</section>