section.upcoming {
  h2 {
    margin-bottom: 0px;
  }

  .presenter {
    color: #555;
  }

  p {
    margin: 1em 0;
  }

  .cols-2:last-child {
    border-top: 1px solid rgba(0, 0, 0, 0.08);
    margin-top: 2em;
    padding-top: 2em;
  }
}

section.past-talks {
  .presenter {
    color: #555;
  }
}

section.event {
  h2 {
    margin-bottom: 0;
  }

  h3 {
    margin-bottom: 0.5em;
  }

  .block {
    margin: 0 0 60px;
  }

  .cols-2 {
    margin: 0 0 30px;

    h4 {
      margin: 0;
    }
  }

  p.not-available {
    color: #999;
  }

  p.meta {
    margin-bottom: 1em;
  }

  i.fa {
    color: #aaa;
    margin: 0 5px 0 0;
    font-size: 14px;
  }

  i.fa.fa-github {
    font-size: 17px;
  }
}

section.contact {
  max-width: 100%;
  text-align: center;
  background: #F8F8F9;
  border: none;
  padding: 80px 0;

  h4 {
    margin: 0 0 0.5em;
  }

  p {
    margin: 0 auto 1em;
    padding: 0 30px;
    max-width: 600px;
  }
}

.date {
  position: relative;
  padding: 0 0 30px 65px;

  i {
    position: absolute;
    top: 5px; left: 10px;
    color: rgba(0,0,0,0.15);
    display: block;
    width: 35px;
    height: 35px;
    font-size: 30px;
    text-align: center;
  }

  .time {
    display: block;
    font-weight: 400;
  }
}

.location {
  position: relative;
  padding: 0 0 30px 65px;

  i {
    position: absolute;
    top: 3px; left: 10px;
    color: rgba(0,0,0,0.15);
    display: block;
    width: 35px;
    height: 35px;
    font-size: 35px;
    text-align: center;
  }
}

.map {
  opacity: 0.5;
}

.rsvp {
  display: inline-block;
  font-size: 26px;
  font-weight: 700;
  text-transform: uppercase;
  -webkit-transition: color 0.05s linear, box-shadow 0.05s linear;
     -moz-transition: color 0.05s linear, box-shadow 0.05s linear;
          transition: color 0.05s linear, box-shadow 0.05s linear;
  color: #E70805;
  box-shadow: 0 5px 0 0 #6BD2E1;

  &:hover {
    color: #6BD2E1;
    box-shadow: 0 5px 0 0 #E70805;
  }
}

.talk {
  margin: 0 0 40px;
  -webkit-transition: box-shadow 0.05s linear;
     -moz-transition: box-shadow 0.05s linear;
          transition: box-shadow 0.05s linear;

  &:last-child { margin: 0; }

  .title {
    float: left;
    width: 50%;
    -webkit-transition: margin-left 0.1s linear;
       -moz-transition: margin-left 0.1s linear;
            transition: margin-left 0.1s linear;
  }

  .coordinates {
    width: 45%;
    float: right;

    .venue {
      color: #999;
    }
  }

  &:hover {
    -webkit-transition: box-shadow 0.1s linear 0.05s;
       -moz-transition: box-shadow 0.1s linear 0.05s;
            transition: box-shadow 0.1s linear 0.05s;
    box-shadow: inset 5px 0 0 0 #6BD2E1;

    a { color: #E70805; }

    .title {
      -webkit-transition: margin-left 0.05s linear;
         -moz-transition: margin-left 0.05s linear;
              transition: margin-left 0.05s linear;
      margin-left: 25px;
    }

    h5 a { color: #6BD2E1; }
  }
}


section.info {
  position: relative;
  max-width: 100%;
  background: #6BD2E1;
  border: none;
  padding: 80px 0;
  color: #fff;
  text-align: center;

  &:before {
    position: absolute;
    top: 0; left: 50%;
    margin-left: -11px;
    content: ' ';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 12px 11px 0 11px;
    border-color: #F8F8F9 transparent transparent transparent;
  }

  &.cols-2 .col-1 {
    width: 50%;
    padding: 0px;

  }

  .inner {
    max-width: 920px;
    margin: 0 auto;
    padding: 0 20px;
  }

  h4 {
    margin: 0 0 1em;
  }
}

.sponsors {
  .sponsor {
    display: block;
    padding: 0 0 0 85px;
    background: center left no-repeat url("/assets/images/dm.png");
    background-size: 70px;
    color: inherit;
    width: 200px;
    margin: 0 auto;
    text-align: left;

    h3 {
      -webkit-transition: color .2s;
         -moz-transition: color .2s;
              transition: color .2s;
    }

    h5 {
      line-height: 1.2em;
    }

    &:hover {
      h3 { color: #E70805; }
    }
  }
}

.cols-2 .col-1.sponsors { padding: 0; }

.link {
  display: inline-block;
  font-size: 26px;
  font-weight: 700;
  text-transform: capitalize;
  -webkit-transition: color 0.05s linear, box-shadow 0.05s linear;
     -moz-transition: color 0.05s linear, box-shadow 0.05s linear;
          transition: color 0.05s linear, box-shadow 0.05s linear;
  color: #E70805;
  box-shadow: 0 5px 0 0 #6BD2E1;

  &:hover {
    color: #6BD2E1;
    box-shadow: 0 5px 0 0 #E70805;
  }
}