---
layout: default
---
<section class="event">
  <h4>{{ page.event.date }} @ {{ page.venue.name }}</h4>
  <h2>{{ page.title }}</h2>
  <p class="meta">
    by <a href="{{ page.author_link }}" target="_blank">{{ page.author }}</a>
  </p>

  <div class="block">
    {{ content }}
  </div>

  <div class="cols-2">
    <div class="col-1">
      <h4>Meetup</h4>
      {% if page.meetup_id %}
        <a href="{{ site.meetup_url }}/events/{{ page.meetup_id }}" target="_blank"><i class="fa fa-group"></i> Visit Meetup.com</a>
      {% else %}
        <p class="not-available">Not available</p>
      {% endif %}
    </div>

    <div class="col-1">
      <h4>Slides</h4>
      {% if page.slides_url %}
        <a href="http://go-talks.appspot.com/{{ page.slides_url }}" target="_blank"><i class="fa fa-external-link"></i> View presentation slides</a>
      {% else %}
        <p class="not-available">Not available.</p>
      {% endif %}
    </div>
  </div>

  <div class="cols-2">
    <div class="col-1">
      <h4>Code Examples</h4>
      {% if page.github_repo %}
        <a href="{{ page.github_repo }}" target="_blank"><i class="fa fa-github"></i> View on Github</a>
      {% else %}
        <p class="not-available">Not available</p>
      {% endif %}
    </div>
    <div class="col-1">
      {% if page.youtube_id == null %}
        <h4>Video</h4>
        <p class="not-available">Not available.</p>
      {% endif %}
    </div>
  </div>
 
  {% if page.youtube_id %}
    <div class="cols-2">
      <h4>Video</h4>    
      <br> 
      <iframe width="960" height="600" src="http://www.youtube.com/embed/{{ page.youtube_id }}" frameborder="0" allowfullscreen showinfo="1"></iframe>
    </div>
  {% endif %}

</section>